$input-padding: 0px 10px;
$input-height: 40px;
$input-border-radius: 5px;

$button-min-width: 100px;

$container-padding: 30px;

$theme-switch-padding: 20px;

$stack-gap-default: 1rem;

// TODO: Consider changing to CSS variables for live updates