# Ignore node_modules
node_modules/

# Ignore dist output directory
dist/

# Ignore webpack configuration files
webpack.config.js
webpack.prod.config.js
webpack.dev.config.js

# Ignore Jest configuration files
jest.config.js

# Ignore any .json files (like package.json)
*.json

# Ignore any log files
*.log

# Ignore the coverage directory
coverage/