$padding: 20px;

.container {
  background: var(--background-color);
  padding: $padding;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh; // Unit for dynamic viewport height, for mobile
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}