@import 'src/themes/_variables.scss';

.switch {
    position: absolute;
    inset-inline-start: $theme-switch-padding;
    inset-block-start: $theme-switch-padding;
    cursor: pointer;

    .icon {
        transition: opacity 0.5s ease;
        opacity: 0;
        position: absolute;
    }

    .iconActive {
        transition: opacity 0.5s ease;
        opacity: 1;
        position: absolute;
    }

}