@import 'src/themes/_variables.scss';

.switch {
    position: absolute;
    inset-inline-start: $theme-switch-padding;
    inset-block-start: $theme-switch-padding;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .icon {
        position: absolute;
        transition: opacity 0.5s ease;
        opacity: 0;
    }

    .iconActive {
        transition: opacity 0.5s ease;
        opacity: 1;
    }

}