@import 'src/themes/_variables.scss';

.button {
    color: var(--text-color);
    height: $input-height;
    padding: $input-padding;
    border-radius: $input-border-radius;
    font-weight: 300;
    cursor: pointer;
    border: none;
    text-transform: lowercase;
    min-width: $button-min-width;
    font-size: 1rem;
    position: relative;
}

.buttonContained {
    @extend .button;
    background-color: var(--text-color);
    color: var(--background-color);

    &:hover {
        background-color: var(--button-contained-hover);
    }

    &:active {
        background-color: var(--button-contained-active);
    }
}

.buttonOutlined {
    @extend .button;
    background-color: transparent;
    border: 1px solid var(--border-color);
    cursor: pointer;

    &:hover {
        background-color: var(--button-hover);
    }

    &:active {
        background-color: var(--button-active);
    }
}

@keyframes circle {
    0% {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}

.loading {
    box-sizing: border-box;
    width: 0;
    height: 100%;
    position: relative;
    animation: circle 1s linear infinite;
    top: 50%;
    left: 50%;

    &::after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: var(--accent-color);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 0;
        left: 0;
    }
}

.disabled {
    cursor: not-allowed;

    &:hover {
        background-color: transparent;
    }

    span {
        opacity: 0.5;
    }
}